@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: grid;
  place-content: center;
}

.shape {
  width: 300px;
  height: 90vh;
  position: absolute;
  right: 10%;
  background-color: rgb(179, 4, 4);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.circle {
  width: 300px;
  height: 300px;
  position: absolute;
  right: 10%;
  top: 20%;
  background-image: url(./pic/company.jpg);
  background-size: cover;
  background-position: center;
  clip-path: circle(50% at 50% 50%);
}

.red-line {
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 10%;
  background-color: rgb(179, 4, 4);
}

.content-box {
  width: 30%;
  position: absolute;
  left: 5%;
  top: 20%;
}

.content-box h1 {
  font-size: 2.7rem;
}

.big-title {
  color: rgb(179, 4, 4);
  font-size: 3.5rem;
  text-transform: uppercase;
}

.text {
  margin-top: 10px;
  font-size: 1.1rem;
  color: rgb(107, 107, 107);
}

.social-list {
  margin-top: 10px;
  display: flex;
  column-gap: 15px;
}

.social-item {
  list-style-type: none;
}

.social-link {
  text-decoration: none;
  color: rgb(179, 4, 4);
  font-size: 1.5rem;
}
